@charset "utf-8";

body {
    color: #2A2A2A;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 15px;
    background-image: url(bokeh.jpg);
    background-size: cover;
	}

#container{
    width: 768px;
    height: auto;
    margin: auto;
    background-color: white;
}


/*Float the aside so it displays next to Main.*/
aside {
    width: 150px;
    height: 1600px;
    float: left;
    background-color: #636363;
}

header {
    width: 768px;
    height: 250px;
    background-color: #008000;
    background-image: url(header.jpg);
}

/*Float the Main so it shows up next to the Aside. Reduce width by 150px so they both lineup with the header*/
main {
    width: 598px;
    height: 4800px;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.floatleft {
	float: left;
}

/*Clear the float so that the footer appears in the right place again*/
footer {
    width: 768px;
    height: 50px;
    clear: both;
	background-color: #636363;
}
h3 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
p {
	font-family: canada-type-gibson,sans-serif;
	font-weight: 400;
	font-style: normal;
}
h1 {
    color: #55CDFC;
    font-family:politica, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 50px;
}

article {
    margin-bottom: 50px;
}
nav {
    width: 768px;
    height: 50px;
}
#container nav li {
    display: block;
    list-style-type: none;
    float: left;
    width: 60px;
    font-family: neonoir, 'sans-serif;';
    font-size: 34px;
    margin-right: 80px;
}
#container nav ul {
    margin: auto;
    width: 565px;
}
nav a:link {
    color: #6BE7FF;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
nav a:visited {
    text-decoration: none;
    color: #8318B1;
}
nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #6BE7FF;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    padding-left: 10px;
}
nav a:active {
    text-decoration: none;
    color: #191919;
}
.submit_btn {
    width: 170px;
    height: 30px;
    border-radius: 10px;
    background-color: #6BE7FF;
    color: #FFFFFF;
    font-size: 16px;
}
.submit_btn:hover {
	-webkit-box-shadow: 6px 6px 35px 5px #000000;
    box-shadow: 6px 6px 35px 5px #000000;
}
