@charset "utf-8";

body {
    color: #2A2A2A;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 15px;
    background-image: url(../images/bokeh.jpg);
    background-size: cover;
	}

#container{
    width: 1280px;
    height: auto;
    margin: auto;
    background-color: white;
}


/*Float the aside so it displays next to Main.*/
aside {
    width: 150px;
    height: 1600px;
    float: left;
    background-color: #636363;
}

header {
    width: 1280px;
    height: 250px;
	margin: 50px 0px 0px 0px;
    background-color: #FFFFFF;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


/*Float the Main so it shows up next to the Aside. Reduce width by 150px so they both lineup with the header*/
main {
    width: 1100px;
    height: 4800px;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.floatleft {
	float: left;
}

.cclicense{
	width: 500px;
	height: 20px;
	clear: both;
	padding: 50px 0px 0px 0px;
}

/*Clear the float so that the footer appears in the right place again*/
footer {
    width: 1280px;
    height: 50px;
    clear: both;
	background-color: #636363;
}
h3 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
p {
	font-family: canada-type-gibson,sans-serif;
	font-weight: 400;
	font-style: normal;
}
h1 {
    color: #55CDFC;
    font-family:politica, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 50px;
}

article {
    margin-bottom: 50px;
}
nav {
    width: 1280px;
    height: 50px;
    position: fixed;
    top: 0px;
    background-color: #FFFFFF;
}
#container nav li {
    display: block;
    list-style-type: none;
    float: left;
    width: 60px;
    font-family: neonoir, 'sans-serif;';
    font-size: 34px;
    margin-right: 80px;
}
#container nav ul {
    margin: auto;
    width: 565px;
}
nav a:link {
    color: #6BE7FF;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
nav a:visited {
    text-decoration: none;
    color: #8318B1;
}
nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #6BE7FF;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    padding-left: 10px;
}
nav a:active {
    text-decoration: none;
    color: #191919;
}
.submit_btn {
    width: 170px;
    height: 30px;
    border-radius: 10px;
    background-color: #6BE7FF;
    color: #FFFFFF;
    font-size: 16px;
}
.submit_btn:hover {
	-webkit-box-shadow: 6px 6px 35px 5px #000000;
    box-shadow: 6px 6px 35px 5px #000000;
}
.column {
    width: 250px;
    height: 750px;
    float: left;
    margin-left: 60px;
    margin-right: 20px;
}
video {
    width: 600px;
    margin: auto;
    height: 600px;
}



/*rules of the page will follow for tablet size devices*/

@media (max-width: 1024px){
	#container {
		width: 768px;
	}
	header{
		width: 768px;
	}
	nav{
		width:768px;
	}
	main{
		width: 598px;
		height: 2500px;
	}
	footer{
		width: 768px;
	}
	.column{
		margin: 0px 20px 0px 20px;
	}
}

/*Rules of the page will only apply for mobile devices*/
@media only screen and (max-width:375px){
	#container {
		width: 300px;
	}
	header{
		width: 300px;
		background-image: url("../images/header.jpg");
	}
	nav{
		width:300px;
		height:250px;
		position: static;
	}
	main{
		width: 300px;
	}
	footer{
		width: 300px;
	}
	aside{
		display: none;
	}
	#container nav li {
	display: list-item;
	list-style-type: none;
	float: none;
	margin: 0px 0px 20px 0px;
	width: 260px;
	text-align: center;	
	}
}
